.todo_list {
  border-radius: 5%;
  border-width: 2px;
  border-radius: 12px;
  box-shadow: 0 1px 7px;
  margin: auto;
  margin-top: 50px;
  width: 345px;
  background-color: rgb(255, 255, 255);
  padding: 15px;
}

.todo_date {
  display: inline;
  margin-left: 4px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.no_todos {
  margin: auto;
  margin-top: 50px;
  margin-left: 100px;
  margin-bottom: 30px;
  font-size: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.todo_container {
  margin-top: 30px;
}
